:root{
    --font-principal:   'Baloo Chettan 2';
	--font-title-bold :	'lato-bold';
	--font-title-black :'lato-black';

	--color-table-header :	#2c3e50;
	--color-text-header :	#ecf0f1;
	--color-h2: 	        #39444E;
    --color-action-hover : 	#21c2f8;
    --color-action:         #696d83;

	--bck-principal :	 #222533;
	--bck-article :	 	 #f9fafb;
	--bck-footer : 		 #171d22;

	--size-text-12 : 			0.75rem;
	--size-text-13 : 			0.8125rem;
	--size-text :			 	0.875rem;
	--size-text-15 : 			0.9375rem;
	--size-text-secondary :		1rem;
	--size-text-three : 		1.1875rem;
	--size-title-secondary : 	1.5rem;
	--size-title : 				1.875rem;

	--cursor : url('img/pointer.png'),pointer;

}

h1, h2{font-family: var(--font-principal);}
h1{color: var(--bck-principal);margin-top:2rem;}
h2{color:var(--color-h2); margin-left: 1rem; align-items: center; font-size: 1.375rem;}


.thead-dark tr:nth-child(1) {
    background-color: var(--color-table-header);
    color:var(--color-text-header);
}

.btn-primary{background-color: var(--color-action);border:none;}
.btn-primary:hover{background-color: var(--color-action-hover);border:none;}

span{color: var(--color-action);}
span:hover{color: var(--color-action-hover);}

footer{
    font-family: var(--font-principal);
    font-size: .75rem;
    color: var(--color-action);
    text-align: center;
}

